*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --firstcolor--:#0d3b49;
    --secondcolor--:#ffffff;
    --thirdcolor--:#000000;
    --fourthcolor--:#f7a82e;
    --fifthcolor--:#008000;
    --matrix--: (0.98,0.17,-0.17,0.98,0,0);
}
.boxshadow{
    -webkit-box-shadow:10px 10px 10px 10px #050505 ;
    -moz-box-shadow:10px 10px 10px 10px #050505 ;
    -ms-box-shadow:10px 10px 10px 10px #050505 ;
    -o-box-shadow:10px 10px 10px 10px #050505 ;
    box-shadow:10px 10px 10px 10px #0505057e ;
}
.matrex-transform{
    transform:matrix(0.98,0.17,-0.17,0.98,0,0);
    -ms-transform:matrix(0.98,0.17,-0.17,0.98,0,0);
    -webkit-transform:matrix(0.98,0.17,-0.17,0.98,0,0);
    -moz-transform:matrix(0.98,0.17,-0.17,0.98,0,0);
    -o-transform:matrix(0.98,0.17,-0.17,0.98,0,0);
}
.boxes{
    border-radius:50px;
}
.btn1{
    background-color: var(--fourthcolor--);
    color: var(--secondcolor--);
}
.btn1:hover{
    background-color: var(--thirdcolor--);
    color: var(--secondcolor--);
}
.btn{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-transform: capitalize;
}
.display{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}


main{
    background-color: var(--firstcolor--);
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.list1{
    width: 550px;
    height: 15vh;
}
.list1 li{
    list-style-type: none;
    margin-left: 15px;
}
.list1 a{
    text-transform: capitalize;
    text-decoration: none;
    color: var(--secondcolor--);
    font-size: 20px;
}
.content-main{
    width: 100%;
    height: 85vh;
}
.item-main{
    width: 30%;
    height: 75vh;
}
.figures-main{
    width: 65%;
    height: 75vh;
}
.fig-main1{
    width: 45%;
    height: 70vh;
    position: relative;
}
.fig-main2{
    width: 45%;
    height: 70vh;
    position: relative;
}
.fig-main1 img,.fig-main2 img{
    width: 100%;
    height: 100%;
}
.icons-main{
    width: 400px;
    height: 15vh;
}
.icons-main a{
    font-size: 20px;
    color: var(--secondcolor--);
}
h1{
    color: var(--secondcolor--);
}
.fig-main1 h2,.fig-main2 h2{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--secondcolor--);
}
.fig-main1 h3,.fig-main2 h3{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
}
.item-main h2,p,.aa{
    padding: 20px;
    color: var(--secondcolor--);
}
.item-main h2{
    font-size: 50px;
}
.item-main p{
    font-size: 20px;
}


.section1{
    width: 100%;
    height: 50vh;
}
.parent-sec1{
    height: 50vh;
}
.icons-sec1{
    width: 23%;
    height: 40vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}
.icons-sec1 i,.icons-sec1 h2{
    font-size: 40px;
    padding: 30px;
}



.section2,.parent-sec2{
    width: 100%;
    height: 100vh;
}
.content-sec2{
    width: 55%;
    height: 90vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
.collection1-sec2{
    background: url(../images/center\ table.jpg) center;
    background-size: cover;
    width: 100%;
    height: 42vh;
}

.collection2-sec2{
    width: 100%;
    height: 42vh;
}
.collection2-2sec2{
    background: url(../images/lightning\ lamp.jpg) center;
    background-size: cover;
}
.collection3-sec2,.collection2-2sec2{
    width: 48%;
    height: 42vh;
}
.section2-sec2{
    background: url(../images/accent\ chair.jpg) center;
    background-size: cover;
    width: 40%;
    height: 90vh;
}
.collection3-sec2{
    text-align: center;
    background-color: var(--firstcolor--);
}
.btn4{
    margin: 50px auto;
}
.collection3-sec2 h2{
    font-size: 30px;
    color: var(--secondcolor--);
}
.new h2{
    padding: 20px;
    font-size: 30px;
}
.collection1-sec2 h3,.collection2-2sec2 h3,.section2-sec2 h3{
    font-size: 20px;
    margin-left: 20px;
} 
.btn3,.btn5,.btn6{
    margin: 10px 20px;
}


.section3{
    width: 100%;
    height: 350vh;
}
.container{
    width: 90%;
    margin: auto;
}
.parent-sec3{
    width: 100%;
    height: 320vh;
}
.items-sec3{
    width: 30%;
    height: 35vh;
    position: relative;
}
.fig-sec3,.fig-sec3 img{
    width: 100%;
    height: 60vh;
    border-radius: 50px;
}
.fig-sec3{
    border: 3px solid rgba(46, 46, 46, 0.5);
}
.content-item{
    width: 100%;
    height: 15vh;
    position: absolute;
    bottom: -25vh;
    background-color: var(--firstcolor--);
}
.icon-sec3{
    position: absolute;
    top: 20px;
    right: 20px;
    width: fit-content;
    height: auto;
    border-radius: 50%;
    padding: 10px;
    background-color:rgb(211, 211, 211);
}
.icon-sec3 i{
    font-size: 25px;
}
.icon-sec3:hover i{
    color: red;
}
.discount{
    position: absolute;
    left: 20px;
    top: 20px;
    width: fit-content;
    height: auto;
    padding: 15px;
    background-color: var(--firstcolor--);
    border-radius: 40px;
}
.discount h2{
    font-size: 25px;
    color: var(--secondcolor--);
}
.content-sec3{
    width: 100%;
    height: 15vh;
    position: relative;
}
.content-sec3 h2{
    font-size:10vh;
}
.content-item h2,.content-item h3{
    font-size: 30px;
    color: white;
    padding: 5px 0 0 20px;
}
.shiping-sec3{
    position: absolute;
    top: 20px;
    right: 20px;
    width: fit-content;
    height: auto;
    padding: 10px;
    background-color:white;
    border-radius: 50%;
}
.shiping-sec3 i{
    color: var(--fourthcolor--);
    font-size: 25px;
}


.section4,.parent-sec4{
    width: 100%;
    height: 100vh;
}
.item-sec4{
    width: 45%;
    height: 80vh;
    position: relative;
}
.item1-sec4{
    background: url(../images/background.jpg) center;
    background-size: cover;
}
.item-sec4 h4,.item-sec4 h2,.item-sec4 p{
    font-size: 35px;
    color: var(--secondcolor--);
}
.item-sec4 h4{
    margin: 50px 0 15px 50px;
}
.item-sec4 h2{
    margin: 0px 0 15px 50px;
}
.item-sec4 p{
    margin: 20px 0 15px 50px;
}
.btn-sec4{
    margin-left: 50px;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: rgba(48, 47, 47, 0.5);
}


.section5{
    width: 100%;
    height: 100vh;
}
.parent-sec5{
    height: 85vh;
}
.item-review{
    width: 45%;
    height: 60vh;
    text-align: center;
}
.fig-rev,.fig-rev img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 25px auto;
}
.item-review h2{
    padding: 10px;
    font-size: 40px;
}
.item-review h3{
    font-size: 30px;
}
.item-review p{
    font-size: 20px;
    color: #000000;
}


.section6{
    width: 100%;
    height: 100vh;
}
.parent-sec6{
    height: 85vh;
}
.item-sec6{
    width: 30%;
    height: 65vh;
    padding: 20px 20px 0 20px;
}
.fig-blog,.fig-blog img{
    width: 100%;
    height: 45vh;
    border-radius: 50px;
}
.item-sec6 h2{
    font-size: 20px;
    padding: 10px 0 0 10px;
}
.item-sec6 a{
    color: #000000;
}
.p-sec6{
    color: #000000;
}

.section7,.parent-sec7{
    width: 100%;
    height: 100vh;
}
.item-sec7{
    width: 46%;
    height: 80vh;
}
.fig-sec7,.fig-sec7 img{
    width: 100%;
    height: 100%;
}
.item-sec7:hover{
    transform:matrix(0.98,0.17,-0.17,0.98,0,0);
    -ms-transform:matrix(0.98,0.17,-0.17,0.98,0,0);
    -webkit-transform:matrix(0.98,0.17,-0.17,0.98,0,0);
    -moz-transform:matrix(0.98,0.17,-0.17,0.98,0,0);
    -o-transform:matrix(0.98,0.17,-0.17,0.98,0,0);
}
.item-sec7 h2{
    font-size: 60px;
    margin: 50px 0 20px 30px;
}
.item-sec7 p{
    font-size: 30px;
    color: #000000;
    margin: 0 0 15px 30px;
}
.input-mail{
    width: 300px;
    height: 45px;
    border: 1px solid rgba(197, 196, 196, 0.5);
    margin-left: 30px;
}


footer{
    width: 100%;
    height: 50vh;
}
.content-foot{
    width: 100%;
    text-align: center;
    font-size:5vh;
    border-top:1px solid rgba(168, 168, 168, 0.5) ;
    border-bottom:1px solid rgba(168, 168, 168, 0.5) ;
}
.parent-footer{
    width: 100%;
    height: 40vh;
}
.nav-footer{
    width: 30%;
    height: 30vh;
}
.copy-right{
    width: 100%;
    background-color: var(--firstcolor--);
    text-align: center;
    font-size: 5vh;
}
.list-foot li{
    margin-top: 10px;
    list-style-type: none;
}
.list-foot a{
    font-size: 30px;
    color: rgb(63, 62, 62);
    text-decoration: none;
}